body{
  font-family: "Arial";
   background-image: url('res/Stone.png');
  background-size: 50px 50px;
    image-rendering: pixelated;
      background-color: rgba(0, 0, 0, 0.6); /* Цвет затемнения */
  background-blend-mode: darken;
}

.conteiner{
	background-image: url('res/Dirt.png');
	border-radius: 2px;
}

p {
    color: #FFFFFF; 
  
    font-size: 15px;
}
.pX {
    color: #FFFFFF; 
     
    font-size: 35px;
     text-decoration: underline;
}
.pS {
    color: #FFFFFF; 
   
    font-size: 17px;
     text-decoration: underline;
}
hr {
  border: 0;
  border-top: 1px dashed #8c8b8b; /* Or 'dotted' */
}
